<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
    <link rel="stylesheet" href="/javascripts/jquery-sider-menu-admin/css/index.css">
</head>
<body>
<div class="s-side">
    <ul>
        <!--这部分是导航栏信息。-->
        <li class="s-firstItem first">
            <a href="/">
                <i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        <!-- 分组 -->
        <li class="first">
            <div class="d-firstNav s-firstNav clearfix">
                <i class="fa fa-bars"></i>
                <span>分组</span>
                <i class="fa fa-caret-right fr "></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem">
                    <a href="<%= '/group/list?userId=' + user.user_id %>">
                        <i class="fa fa-minus-square-o"></i>
                        <span>分组列表</span>
                    </a>
                </li>
                <li class="s-secondItem">
                    <a href="/group/add">
                        <i class="fa fa-minus-square-o"></i>
                        <span>新增分组</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- 博客 -->
        <li class="first">
            <div class="d-firstNav s-firstNav clearfix">
                <i class="fa fa-bars"></i>
                <span>博客</span>
                <i class="fa fa-caret-right fr "></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem">
                    <a href="<%= '/blog/list?userId=' + user.user_id %>">
                        <i class="fa fa-minus-square-o"></i>
                        <span>博客列表</span>
                    </a>
                </li>
                <li class="s-secondItem">
                    <a href="/blog/add">
                        <i class="fa fa-minus-square-o"></i>
                        <span>新增博客</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- 点评 -->
        <li class="first">
            <div class="d-firstNav s-firstNav clearfix">
                <i class="fa fa-bars"></i>
                <span>点评</span>
                <i class="fa fa-caret-right fr "></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem">
                    <a href="<%= '/comment/list?userId=' + user.user_id %>">
                        <i class="fa fa-minus-square-o"></i>
                        <span>点评列表</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
<!-- 侧边栏插件 -->
<script src="/javascripts/jquery-sider-menu-admin/js/index.js"></script>
</html>